#logo {
    width: 50%;
    max-width: 450px;
    min-width: 200px;
}
h1 {
    line-height: 1.25em;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1.1em;
}
#jspsych-survey-text-next{
    color: #ffffff;
    background-color: #37904b;
    font-size: 0.9em;
}
.jspsych-language-info-header{
    font-weight: bold;
}