#logo {
    width: 50%;
    max-width: 450px;
    min-width: 200px;
}
h1 {
    line-height: 1.25em;
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1.1em;
}
#jspsych-survey-text-next{
    color: #ffffff;
    background-color: #37904b;
    font-size: 0.9em;
}
#jspsych-language-info-next, #jspsych-gender-info-next, #survey-yes-no-next, #music-info-next{
    color: #ffffff;
    background-color: #37904b;
    font-size: 0.9em;
    display: inline-block;
    padding: 6px 12px;
    margin: 0px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    line-height: 1.4;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px; 
}
#jspsych-language-info-next:hover, #jspsych-gender-info-next:hover, #survey-yes-no-next:hover, #music-info-next:hover{
    cursor: pointer;
}
.jspsych-language-info-header td, .music-info-header td{
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    text-align: center;

}
.jspsych-language-info-lang-row td, .music-info-row td{
    padding: 5px 10px 5px 10px;
    text-align: center;
}
#gender-other-container{
    padding-bottom: 10px;
}
.survey-yes-no-response{
    margin: 0em 0.2em 0em 1em;
}
.survey-yes-no-question p{
    margin: .5em 0em 0em 0em;
}
label{
    font-weight: bold;
}
input[type="radio"]{
    margin: 0em 0.25em 0em 1em;
}
.binary-audio-prompt{
    margin: .5em 0em;
}